.bntsNumber {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  gap: 20px;
}

button {
  width: 80px;
  height: 80px;
  font-size: 30px;

  border: none;
  border-radius: 10px;
  
  background-color: #ffc800;
  color: #242424;
}

input {
  font-size: 30px;
  margin-bottom: 20px;
  width: 341px;
  height: 50px;
  padding: 10px 20px;

  text-align: end;

  border: 2px solid #242424;
  border-radius: 10px;

  color: #242424;
}

.btns {
  display: flex;
  gap: 20px;
}

.bntsSymb {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.window {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80vh;
}





























